<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd"
						default-init-method="default_init" default-destroy-method="default_destroy">
	
	
	<!-- init-method : 생성자 호출 이후 자동으로 호출된다. -->
	<!-- destroy-method : 객체가 소멸될 때 자동으로 호출된다. -->
	<bean id='t1' class='kr.co.softcampus.beans.TestBean1' lazy-init="true" init-method="bean1_init" destroy-method="bean1_destroy"/>

	<!-- bean에 init-method, destro-method를 정의하지 않았다면 
		 beans설정에 default-init-method, default-destroy-method 속성을 넣어 사용 가능! -->
	<bean id='t2' class='kr.co.softcampus.beans.TestBean2' lazy-init="true" />

	<!-- 만약 init-method랑 default-init-method가 둘 다 있다면?! -->
	<bean id='t3' class='kr.co.softcampus.beans.TestBean3' lazy-init='true' init-method="bean3_init" destroy-method="bean3_destroy"/>
	
	<!-- TestBean4에는 생성자만 생성 -->
	<!-- default가 설정되어 있어도 해당 클래스에 default-method들이 정의되어 있지 않다면 실행x -->
	<!-- 실제로 존재하지 않는 init메서드와 destory메서드를 작성 : 오류 발생! -->
	<bean id='t4' class='kr.co.softcampus.beans.TestBean4' lazy-init='true' init-method='bean4_init' destroy-method='bean4_destroy'/>
</beans>  